@import url(variables.css);

* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
}

.filter {
    height: 100vh;
    width: 100%;
    background: var(--color-secundary);
    position: absolute;
    z-index: -1;
}

.filter2 {
    height: 100vh;
    width: 100%;
    background: var(--color-secundary);
    position: absolute;
    z-index: -1;
}

.filter3 {
    width: 100%;
    background: var(--color-secundary);
    position: absolute;
    z-index: -1;
}

.filter img {
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

nav {
    width: 100%;
    height: 10vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1em 2em;
    margin: 0 auto;
}

.container ul:nth-child(1) li:nth-child(1) a {
    color: #e58f00;
}


.container a {
    display: flex;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 20px;
    font-size: 1.2rem;
}

.centralone {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
}

.centralinfo {
    display: flex;
    /* outline:  red solid; */
    width: 400px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
}

.centralone h2 {
    color: #e58f00;
    font-size: 50px;
}

.centralone p {
    color: white;
}

.contactusbtn {
    border-radius: 7px;
    background-color: var(--color-primary);
    border:  none;
    height: 50px;
    width: 130px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactusbtn:hover {
    transition: 0.3s;
    background-color: #ffd490;
    cursor: pointer;
}



/*Pag2*/

.Segundapagina {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.Segundapagina img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 500px;
}

.aboutuspart {
    display: flex;
    /* outline:  red solid; */
    width: 400px;
    height: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Segundapagina h2 {
    color: white;
    font-size: 80px;
}

.Segundapagina p {
    color: white;
    font-size: 30px;
}

body {
    background-color: white;
}


/* Pagina 3 */

.tercerapagina {
    outline: red 4px solid;
}

.tercerapagina h2 {
    color: white;
    font-size: 80px;
}

.tercerapagina p {
    color: white;
    font-size: 30px;
}

.ourfoodinfo {
    position: absolute;
    top: 30%;
    left: 10%;

}

.ourfoodinfo p{
    outline:  red solid; 
    width: 600px;
    height: auto;
    justify-content: space-around;
    align-items: center;

}

.amarishito{
    margin-top: 200px;
    width: 100%;
}

.terpic1 {
    position: absolute;
    height: 1100px;
    top: 0px;
    right: 0px;
}

.terpic2 {
    position: absolute;
    width: 60%;
    top: 1100px;
    right: 0px;
}

.terpic3 {
    position: absolute;
    height: 800px;
    top: 1600px;
    left: 0px;
}

/*pag4*/

.filter4 {
    width: 100%;
    background: var(--color-secundary);
    z-index: -1;

}